<nav id="top-nav">
  
  <div id="top-nav-icons">
    
    <ul>
      <li>fav</li>
      <li>account</li>
      <li>cart</li>
      <li>flag</li>
    </ul>
    
  </div>
  
</nav>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
