<nav id="top-nav">
  
  <div id="top-nav-icons">
    
    <ul>
      <li>fav</li>
      <li>account</li>
      <li>cart</li>
      <li>flag</li>
    </ul>
    
  </div>
  
</nav>

{% stylesheet %}
#top-nav {
	display: flex;
	justify-content: right;
	width: 100%;
}

#top-nav > #top-nav-icons > ul {
	display: flex;
	gap: 15px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
